#

# Demonstration of reading Eclipse E300 fluid files using NeqSim
In the following example we will demonstrate how to create a NeqSim fluid based on an Eclipse 300 fluid definition file.

In [3]:
import neqsim
from neqsim import thermo
from neqsim.thermo import fluid_df, readEclipseFluid,dataFrame,setEclipseComposition, TPflash, addFluids

Read two E300 files and create a combined reservoir fluid (two wells)

In [4]:
wellFluid_A13 =  readEclipseFluid('example2.E300', wellName='_A13')
wellFluid_A17 =  readEclipseFluid('example1.E300', wellName='_A17')
reservoirFluid = addFluids([wellFluid_A13,wellFluid_A17])

In [5]:
TPflash(reservoirFluid)
dataFrame(reservoirFluid)

           0           1           2           3 4  5                 6
0                  total         gas         oil
1   nitrogen    1.328E-3  1.37375E-3  2.27017E-6        [mole fraction]
2        CO2  3.25865E-2  3.36916E-2  5.65258E-4        [mole fraction]
3    methane  8.39723E-1  8.68521E-1  5.27666E-3        [mole fraction]
4     ethane  4.83544E-2  4.99564E-2  1.93729E-3        [mole fraction]
..       ...         ...         ...         ... .. ..              ...
59    Stream                                                          -
60
61
62
63

[64 rows x 7 columns]

Set the composition of the reservoir fluid to the composition of the A13 well

In [8]:
setEclipseComposition(reservoirFluid, 'example2.E300', wellName='_A13');

In [9]:
TPflash(reservoirFluid)
dataFrame(reservoirFluid)

           0           1           2           3 4  5                 6
0                  total         gas         oil
1   nitrogen  8.49998E-4  8.70757E-4  1.39448E-6        [mole fraction]
2        CO2  3.26669E-2  3.34524E-2  5.57794E-4        [mole fraction]
3    methane  8.62505E-1  8.83475E-1  5.27028E-3        [mole fraction]
4     ethane  4.28819E-2  4.38895E-2  1.68985E-3        [mole fraction]
..       ...         ...         ...         ... .. ..              ...
59    Stream                                                          -
60
61
62
63

[64 rows x 7 columns]